.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1215px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

*,
:after,
:before {
    box-sizing: border-box
}

* {
    padding: 0
}

*,
body {
    margin: 0
}

body {
    background: #f5f5f5;
    color: #252525;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5
}

.container {
    padding: 0
}

b,
strong {
    font-weight: 600
}

a {
    color: #2d2d2d;
    text-decoration: none
}

ul li {
    list-style: none
}

.no-scroll {
    overflow-y: hidden
}

.main-title {
    font-size: 21px;
    text-transform: uppercase
}

.image img {
    width: 100%;
    height: 100%
}

.image.cover img {
    -o-object-fit: cover;
    object-fit: cover
}

.image.contain img {
    -o-object-fit: contain;
    object-fit: contain
}

.mobile {
    display: none
}

.text-danger {
    color: red;
    font-size: 11px
}

.text-center {
    text-align: center
}

@media(max-width:767px) {
    .main-title {
        text-align: center;
        display: block;
        margin-bottom: 10px
    }
    .desktop {
        display: none!important
    }
    .mobile {
        display: block
    }
}

.card {
    padding: 15px;
    background: #fff;
    font-size: 14px
}

.card--top:not(:first-child) {
    margin-top: 15px
}

.card--bottom,
.card-header {
    margin-bottom: 15px
}

.card-header h2 {
    font-size: 20px;
    font-weight: 600;
    color: #e91e63
}

.card-header p {
    color: #999;
    font-size: 13px
}

.card-header .card-title {
    color: #e91e63;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600
}

.card-header .normal-title {
    font-size: 14px;
    color: #888;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px
}

.card-header .sub-title {
    font-size: 13px;
    line-height: 1.5em
}

.card-header .sub-title>span {
    color: red;
    font-weight: 600
}

.card-title {
    font-size: 16px;
    font-weight: 600
}

.card-title--big {
    font-size: 18px
}

@media(min-width:768px)and (max-width:1199px) {
    .card {
        padding: 10px;
        border-radius: 0
    }
}

.grid {
    margin: 15px 0;
    display: flex;
    justify-content: space-between
}

.grid__content {
    flex-grow: 1
}

.grid__sidebar {
    flex: 0 0 30%
}

.grid__sidebar--left {
    margin-right: 15px
}

.grid__sidebar--right {
    padding-left: 15px
}

.grid-sm .grid__sidebar {
    flex: 0 0 23%!important
}

@media(max-width:991px) {
    .grid {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        min-height: 100vh
    }
    .grid__content {
        margin-right: 0
    }
    .grid__content,
    .grid__sidebar {
        width: 100%!important
    }
    .grid__sidebar--left {
        margin-top: 0;
        margin-right: 0
    }
    .grid__sidebar--right {
        padding-left: 0
    }
    .small-grid {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        min-height: 100vh
    }
    .small-grid__content {
        width: 100%!important;
        margin-right: 0
    }
    .small-grid__sidebar {
        width: 100%!important
    }
    .small-grid__sidebar--left {
        margin-top: 0;
        margin-right: 0
    }
    .small-grid__sidebar--right {
        padding-left: 0
    }
    .small-grid__sidebar--bottom {
        padding-bottom: 15px
    }
}

@media(max-width:1199px) {
    .small-grid__sidebar {
        flex: 0 0 24%
    }
}

.mt0 {
    margin-top: 0!important
}

.mt5 {
    margin-top: 5px!important
}

.mt10 {
    margin-top: 10px!important
}

.mt15 {
    margin-top: 15px!important
}

.mt20 {
    margin-top: 20px!important
}

.mt25 {
    margin-top: 25px!important
}

.mt30 {
    margin-top: 30px!important
}

.mb0 {
    margin-bottom: 0!important
}

.mb5 {
    margin-bottom: 5px!important
}

.mb10 {
    margin-bottom: 10px!important
}

.mb15 {
    margin-bottom: 15px!important
}

.mb20 {
    margin-bottom: 20px!important
}

.mb25 {
    margin-bottom: 25px!important
}

.mb30 {
    margin-bottom: 30px!important
}

.mr0 {
    margin-right: 0!important
}

.mr5 {
    margin-right: 5px!important
}

.mr10 {
    margin-right: 10px!important
}

.mr15 {
    margin-right: 15px!important
}

.mr20 {
    margin-right: 20px!important
}

.mr25 {
    margin-right: 25px!important
}

.mr30 {
    margin-right: 30px!important
}

.ml0 {
    margin-left: 0!important
}

.ml5 {
    margin-left: 5px!important
}

.ml10 {
    margin-left: 10px!important
}

.ml15 {
    margin-left: 15px!important
}

.ml20 {
    margin-left: 20px!important
}

.ml25 {
    margin-left: 25px!important
}

.ml30 {
    margin-left: 30px!important
}

.pt5 {
    padding-top: 5px!important
}

.pt10 {
    padding-top: 10px!important
}

.pt15 {
    padding-top: 15px!important
}

.pt20 {
    padding-top: 20px!important
}

.pt25 {
    padding-top: 25px!important
}

.pt30 {
    padding-top: 30px!important
}

.pb5 {
    padding-bottom: 5px!important
}

.pb10 {
    padding-bottom: 10px!important
}

.pb15 {
    padding-bottom: 15px!important
}

.pb20 {
    padding-bottom: 20px!important
}

.pb25 {
    padding-bottom: 25px!important
}

.pb30 {
    padding-bottom: 30px!important
}

.pr5 {
    padding-right: 5px!important
}

.pr10 {
    padding-right: 10px!important
}

.pr15 {
    padding-right: 15px!important
}

.pr20 {
    padding-right: 20px!important
}

.pr25 {
    padding-right: 25px!important
}

.pr30 {
    padding-right: 30px!important
}

.pl5 {
    padding-left: 5px!important
}

.pl10 {
    padding-left: 10px!important
}

.pl15 {
    padding-left: 15px!important
}

.pl20 {
    padding-left: 20px!important
}

.pl25 {
    padding-left: 25px!important
}

.pl30 {
    padding-left: 30px!important
}

.w-5 {
    width: 5%;
    max-width: 5%
}

.w-10 {
    width: 10%;
    max-width: 10%
}

.w-15 {
    width: 15%;
    max-width: 15%
}

.w-20 {
    width: 20%;
    max-width: 20%
}

.w-25 {
    width: 25%;
    max-width: 25%
}

.w-30 {
    width: 30%;
    max-width: 30%
}

.w-35 {
    width: 35%;
    max-width: 35%
}

.w-40 {
    width: 40%;
    max-width: 40%
}

.w-45 {
    width: 45%;
    max-width: 45%
}

.w-50 {
    width: 50%;
    max-width: 50%
}

.w-55 {
    width: 55%;
    max-width: 55%
}

.w-60 {
    width: 60%;
    max-width: 60%
}

.w-65 {
    width: 65%;
    max-width: 65%
}

.w-70 {
    width: 70%;
    max-width: 70%
}

.w-75 {
    width: 75%;
    max-width: 75%
}

.w-80 {
    width: 80%;
    max-width: 80%
}

.w-85 {
    width: 85%;
    max-width: 85%
}

.w-90 {
    width: 90%;
    max-width: 90%
}

.w-95 {
    width: 95%;
    max-width: 95%
}

.w-100 {
    width: 100%;
    max-width: 100%
}

.w100 {
    width: 100px
}

.mw-100 {
    max-width: 100px
}

.mw-150 {
    max-width: 150px
}

.mw-200 {
    max-width: 200px
}

.mw-250 {
    max-width: 250px
}

.mw-80p {
    max-width: 80%
}

.flex {
    display: flex
}

.justify-center {
    justify-content: center
}

.justify-end {
    justify-content: flex-end
}

.justify-between {
    justify-content: space-between
}

.align-start {
    align-items: start
}

.align-center {
    align-items: center
}

.self-center {
    align-self: center
}

.self-end {
    align-self: flex-end
}

.align-end {
    align-items: flex-end
}

.direction-column {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.no-padding {
    padding: 0!important
}

.no-pad-left {
    padding-left: 0!important
}

.no-pad-right {
    padding-right: 0!important
}

.no-margin {
    margin: 0!important
}

.no-margin-r {
    margin-right: 0!important
}

.no-border {
    border: 0!important
}

.text-left {
    text-align: left!important
}

.text-center {
    text-align: center!important
}

.text-right {
    text-align: right!important
}

.text-through {
    text-decoration: line-through
}

.text-xs {
    font-size: 11px!important
}

.text-sm {
    font-size: 13px!important
}

.text-md {
    font-size: 14px!important
}

.text-lg {
    font-size: 16px!important
}

.text-hint {
    color: #888;
    font-size: 13px;
    margin-top: 5px;
    display: inline-block
}

.text-gray {
    color: #888
}

.hide {
    display: none
}

.d-inline,
.show {
    display: inline-block
}

.d-block {
    display: block
}

.p-relative {
    position: relative
}

.p-absolute {
    position: absolute
}

.clearfix {
    clear: both;
    display: table
}

.text-collapse {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap
}

.no-scroll,
.text-collapse {
    overflow: hidden
}

@media(min-width:320px)and (max-width:767px) {
    .hide-sm {
        display: none!important
    }
    .show-sm {
        display: block!important
    }
}

.morecontent span {
    display: none
}

.morelink {
    display: inline-block
}

.avatar-candidate {
    width: 45px;
    padding: 5px;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain
}

a.btn {
    text-decoration: none
}

.btn,
button {
    cursor: pointer
}

.btn {
    border: 1px solid transparent;
    border-radius: 50px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 20px;
    padding: .45rem .95rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle;
    white-space: nowrap;
    transform: translateZ(0)
}

.btn-block {
    width: 100%
}

.btn:not(:first-of-type) {
    margin-left: 5px
}

.btn-xs {
    font-size: 10px
}

.btn-sm,
.btn-xs {
    padding: .25rem .5rem
}

.btn-sm {
    font-size: 13px
}

.btn-lg {
    font-size: 1rem;
    padding: .7rem 1.5rem
}

.btn-not-radius {
    border-radius: 50px!important
}

.btn:before {
    transform: scaleX(0);
    content: "";
    border-radius: 45px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .04);
    transform-origin: 50%;
    transition: all .5s ease-out
}

.btn:hover:before {
    transform: scaleX(1)
}

.btn-pink {
    border: 2px solid transparent
}

.btn-pink:hover {
    text-decoration: none;
    background: #e11f5f
}

.btn-pink:hover,
.btn-purple {
    color: #fff!important;
    border: 2px solid transparent
}

.btn-purple {
    background: #48509a
}

.btn-purple:hover {
    text-decoration: none;
    background: #40488a;
    color: #fff!important;
    border: 2px solid transparent
}

.btn-gray {
    background: #f6f7f9
}

.btn-gray,
.btn-gray:hover {
    color: #666!important;
    border: 2px solid transparent
}

.btn-gray:hover {
    text-decoration: none;
    background: #dddee0
}

.btn-trans {
    background: 0 0;
    color: #fff!important;
    border: 2px solid #fff
}

.btn-trans:hover {
    text-decoration: none;
    color: #fb236a!important
}

.btn-trans:hover,
.btn-white {
    background: #fff;
    border: 2px solid #fff
}

.btn-white {
    color: #484848!important
}

.btn-white:hover {
    text-decoration: none;
    border: 2px solid #fff
}

.btn-pink-outline,
.btn-white:hover {
    background: #fff;
    color: #fb236a!important
}

.btn-pink-outline {
    border: 2px solid #fb236a!important
}

.btn-pink-outline:hover {
    text-decoration: none;
    background: #fb236a;
    color: #fff!important
}

.btn-purple-outline {
    background: #fff;
    color: #48509a!important;
    border: 2px solid #48509a!important
}

.btn-purple-outline:hover {
    text-decoration: none;
    background: #48509a;
    color: #fff!important
}

.btn-gray-outline {
    background: #fff;
    color: #f6f7f9!important;
    border: 2px solid #f6f7f9!important
}

.btn-gray-outline:hover {
    text-decoration: none;
    background: #f6f7f9;
    color: #fff!important
}

.btn-white-outline {
    background: #fff;
    color: #666!important;
    border: 2px solid #666!important
}

.btn-white-outline:hover {
    text-decoration: none;
    background: #666;
    color: #ddd!important
}

.btn-pink-nh {
    background: #fb236a;
    border: 1px solid #fb236a
}

.btn-pink-nh,
.btn-purple-nh {
    color: #fff!important;
    text-decoration: none!important
}

.btn-purple-nh {
    background: #48509a;
    border: 1px solid #48509a
}

.btn-gray-nh {
    background: #f6f7f9;
    border: 1px solid #f6f7f9
}

.btn-default-nh,
.btn-gray-nh {
    color: #fb236a!important;
    text-decoration: none!important
}

.btn-default-nh {
    background: #fff;
    border: 1px solid #fb236a
}

.btn-white-nh {
    background: #fff;
    color: #333!important;
    border: 1px solid #eee;
    text-decoration: none!important
}

.btn,
.btn-blue {
    color: #fff!important
}

.btn-blue {
    background: #4688ff
}

.btn-pink {
    background: #fb236a;
    color: #fff!important
}

.btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #777!important
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.label-success {
    background-color: #5cb85c
}

.label-danger {
    background-color: #d9534f
}

.label-default {
    background-color: #777
}

.label-primary {
    background-color: #337ab7
}

.label-info {
    background-color: #5bc0de
}

.label-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #777
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url(../../fonts/roboto-v20-latin_vietnamese-300.eot);
    src: local("Roboto Light"), local("Roboto-Light"), url(../../fonts/roboto-v20-latin_vietnamese-300.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-300.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-300.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-300.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-300.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    src: url(../../fonts/roboto-v20-latin_vietnamese-300italic.eot);
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(../../fonts/roboto-v20-latin_vietnamese-300italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-300italic.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-300italic.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-300italic.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-300italic.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/roboto-v20-latin_vietnamese-regular.eot);
    src: local("Roboto"), local("Roboto-Regular"), url(../../fonts/roboto-v20-latin_vietnamese-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-regular.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-regular.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-regular.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-regular.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: url(../../fonts/roboto-v20-latin_vietnamese-italic.eot);
    src: local("Roboto Italic"), local("Roboto-Italic"), url(../../fonts/roboto-v20-latin_vietnamese-italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-italic.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-italic.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-italic.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-italic.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(../../fonts/roboto-v20-latin_vietnamese-500.eot);
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../../fonts/roboto-v20-latin_vietnamese-500.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-500.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-500.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-500.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-500.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src: url(../../fonts/roboto-v20-latin_vietnamese-500italic.eot);
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(../../fonts/roboto-v20-latin_vietnamese-500italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-500italic.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-500italic.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-500italic.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-500italic.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts/roboto-v20-latin_vietnamese-700.eot);
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../../fonts/roboto-v20-latin_vietnamese-700.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-700.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-700.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-700.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-700.svg#Roboto) format("svg")
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    src: url(../../fonts/roboto-v20-latin_vietnamese-700italic.eot);
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(../../fonts/roboto-v20-latin_vietnamese-700italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/roboto-v20-latin_vietnamese-700italic.woff2) format("woff2"), url(../../fonts/roboto-v20-latin_vietnamese-700italic.woff) format("woff"), url(../../fonts/roboto-v20-latin_vietnamese-700italic.ttf) format("truetype"), url(../../fonts/roboto-v20-latin_vietnamese-700italic.svg#Roboto) format("svg")
}

.form-group {
    margin-bottom: 20px
}

.form-group>label {
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #333
}

.form-group>label a {
    margin: 0 10px
}

.form-group>label>span {
    color: red
}

.form-group>label.count-down {
    width: 100%
}

.form-group>label.count-down .count-number {
    float: right;
    font-weight: 400;
    color: #888
}

.form-group .form-control {
    border-radius: 2px;
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px;
    height: 38px;
    width: 100%;
    background: #fff
}

.form-group .intro {
    color: #888;
    font-style: italic;
    font-size: 13px
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f2f2f2;
    opacity: .5
}

.form-control:focus,
input[type=password]:focus,
input[type=text]:focus {
    border: 2px solid #d4d4d4;
    outline: 0;
    box-shadow: none
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

.form-row {
    display: flex;
    position: relative;
    margin-right: -5px;
    margin-left: -5px
}

.form-row>[class*=col] {
    padding-right: 5px;
    padding-left: 5px
}

.form-row .form-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.form-row .form-col.city {
    flex: 1 1 30%;
    max-width: 30%;
    margin-right: 10px
}

.form-row .form-col.district {
    flex: 1 1 70%;
    max-width: 70%
}

.error-form {
    font-size: 13px;
    color: red
}

button,
input,
textarea {
    outline: 0
}

:focus,
button:focus,
input,
input:focus,
textarea:focus {
    outline: 0!important
}

select {
    height: 38px
}

input,
select,
textarea {
    border: 2px solid #f2f2f2;
    font-size: 14px;
    padding: 10px
}

textarea {
    min-height: 150px
}

p {
    margin: 0;
    padding: 0
}

.icon {
    background-size: 100%;
    display: inline-block
}

.icon-cart {
    background: url(/view/Css/icon/ico1.png) 50% no-repeat
}

.icon-phone {
    background: url(/view/Css/icon/ico2.png) 50% no-repeat
}

.icon-showroom {
    background: url(/view/Css/icon/ico3.png) 50% no-repeat
}

.icon-clock {
    background: url(/view/Css/icon/ico4.png) 50% no-repeat;
    height: 30px;
    width: 22px
}

.icon-glasses {
    background: url(/view/Css/icon/ico5.png) 50% no-repeat;
    height: 18px;
    width: 42px
}

.icon-aution {
    background: url(/view/Css/icon/ico6.png) 50% no-repeat;
    height: 27px;
    width: 27px
}

.icon-accessories {
    background: url(/view/Css/icon/ico7.png) 50% no-repeat;
    height: 24px;
    width: 16px
}

.icon-installment {
    background: url(/view/Css/icon/ico8.png) 50% no-repeat;
    height: 27px;
    width: 27px
}

.icon-news {
    background: url(/view/Css/icon/ico9.png) 50% no-repeat;
    height: 22px;
    width: 16px
}

.table {
    background-color: transparent;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
    table-layout: fixed;
    color: #333
}

.table thead tr th {
    font-weight: 500
}

.table thead tr th:last-child {
    text-align: right
}

.table tbody tr th {
    font-weight: 400
}

.table tbody tr td,
.table tbody tr th {
    font-family: Poppins, sans-serif
}

.table tbody tr td:last-child {
    text-align: right
}

.table>thead>tr>th {
    font-weight: 600;
    background: #f2f2f2
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
    border-top: 1px solid #eee!important;
    line-height: 25px;
    vertical-align: top
}

.table.table-striped tbody tr:nth-of-type(2n) {
    background-color: #f2f2f2
}

.table-responsive {
    display: block;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table td,
.table th {
    padding: .35rem
}

.table .round-img img {
    width: 38px
}

.tr-hide {
    display: none
}

@media(max-width:425px) {
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        line-height: 20px!important;
        padding: 10px 5px
    }
}

.btn-group-action {
    position: relative
}

.btn-group-action button {
    border: 1px solid #ddd;
    background: #fff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 2px;
    color: #333;
    cursor: pointer
}

.btn-group-action:hover .ul-action {
    display: block
}

.ul-action {
    display: none;
    padding: 5px 0;
    z-index: 1000;
    font-size: 12px;
    text-align: left;
    min-width: 180px;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    position: absolute;
    right: 0;
    top: 24px
}

.ul-action>li>a {
    padding: 5px 10px;
    color: #484848;
    line-height: 20px;
    display: block
}

.ul-action>li>a>i {
    margin-right: 7px;
    color: #484848
}

.ul-action>li:hover {
    background-color: #eee
}

.view-all {
    color: #fb236a;
    display: flex;
    justify-content: center;
    margin-bottom: 15px
}

.view-all:hover {
    text-decoration: underline
}

@media(max-width:991px) {
    .box-table {
        overflow-y: scroll!important
    }
    .box-table table {
        width: auto
    }
    .box-table table thead tr .w-35 {
        min-width: 200px
    }
    .box-table table thead tr .w-30 {
        min-width: 170px
    }
    .box-table table thead tr .w-20 {
        min-width: 150px
    }
    .box-table table thead tr .w-15 {
        min-width: 120px
    }
    .box-table table thead tr .w-10 {
        min-width: 110px
    }
    .box-table table thead tr .w-5 {
        min-width: 50px
    }
    .view-all {
        justify-content: flex-end;
        margin-right: 15px
    }
}

@media(min-width:992px)and (max-width:1199px) {
    .view-all {
        justify-content: center
    }
}

.c-success {
    color: #2ecc71
}

.c-primary {
    color: #3498db
}

.c-warning {
    color: #ff9800
}

.c-error {
    color: #e74c3c
}

.modal .header {
    display: block;
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
    text-align: left
}

.modal .content {
    padding: 10px 0
}

.modal .content a {
    color: #007bff
}

.modal .content ul li i {
    color: red
}

.top-header {
    background-color: #03a9f4;
    padding: .6rem;
    position: relative;
    z-index: 4
}

.top-header .content {
    display: flex
}

.top-header .content .left {
    flex-grow: 1
}

.top-header .content a {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    cursor: pointer
}

.top-header.mobile .left {
    overflow-x: scroll;
    white-space: nowrap
}

.owl-theme .owl-nav {
    margin-top: 0
}

.owl-custom .owl-nav button.owl-next,
.owl-custom .owl-nav button.owl-prev {
    background: #d2af7e;
    color: #f2f2f2;
    font-family: FontAwesome;
    font-weight: 900;
    height: 46px;
    left: 0;
    margin-top: -23px;
    position: absolute;
    top: 50%;
    width: 23px
}

.owl-custom .owl-nav button.owl-next {
    left: inherit;
    right: 0
}

#headers {
    background: #2196f3;
    border-bottom: 1px solid #dedede;
    padding: 9px 0
}

#headers .header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between
}

#headers .logo {
    align-items: center;
    display: flex;
    min-width: 250px
}

#headers .logo .mobile {
    display: none
}

#headers .logo span {
    color: #fff;
    font-size: 28px;
    margin-left: 20px
}

#headers .search {
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin-right: 15px
}

#headers .search form {
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    display: flex;
    height: 38px;
    margin-right: 50px;
    overflow: hidden;
    width: 100%;
    outline: 0
}

#headers .search form input[type=text] {
    background: 0 0;
    border: 0;
    color: #333;
    flex: 1;
    font-style: italic;
    outline: 0;
    padding: 0 15px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

#headers .search form .btnSearch {
    align-items: center;
    background: #2196f3;
    border: 1px solid #2196f3;
    color: #fff;
    display: flex;
    outline: 0;
    padding: 0 10px;
    cursor: pointer
}

#headers ul.right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

#headers ul.right li {
    align-items: center;
    border-right: 1px dotted #6d4625;
    color: #333;
    display: flex;
    font-size: 15px;
    padding: 0 15px
}

#headers ul.right li:last-child {
    border-right: none
}

#headers ul.right li .icon {
    display: block;
    height: 26px;
    width: 26px
}

#headers ul.right li a {
    color: #fff;
    align-items: center;
    display: flex
}

#headers ul.right li a i {
    display: block;
    font-size: 22px;
    font-weight: 700
}

#headers ul.right li a span.text {
    flex: 1;
    margin-left: 4px;
    text-align: center;
    white-space: nowrap
}

#headers ul.right li a span.text span {
    display: block;
    line-height: 18px;
    white-space: nowrap
}

#headers ul.right li a span.text span:first-child {
    font-size: 13px
}

#headers ul.right li a span.text span:last-child {
    color: #fff;
    font-size: 16px
}

@media(max-width:767px) {
    #headers {
        padding: 5px 0
    }
    #headers .header-wrapper {
        padding: 0 10px
    }
    #headers .logo {
        margin-right: 10px;
        min-width: 0
    }
    #headers .logo span {
        margin-left: 0
    }
    #headers .logo img {
        max-width: 45px
    }
    #headers .logo .desktop {
        display: none
    }
    #headers .logo .mobile {
        display: block
    }
    #headers .search {
        flex: 1;
        margin-right: 0
    }
    #headers .search form {
        width: 100%;
        margin-right: 0
    }
    #headers .search form .btnSearch>span,
    #headers ul.right .text {
        display: none
    }
    #headers ul.right li {
        padding: 0 5px;
        border-right: 0
    }
    #headers ul.right li a i {
        font-size: 28px
    }
}

#menu-main {
    position: absolute;
    display: none;
    z-index: 5;
    background: #fff;
    top: 100px;
    width: auto
}

#menu-main .menu-list {
    min-width: 250px
}

#menu-main .menu-list>li a {
    padding: 5px 10px;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center
}

#menu-main .menu-list>li a:hover {
    color: #f7941d;
    background-color: #efefef;
    font-weight: 500;
    cursor: pointer
}

#menu-main .menu-list>li a:hover:before {
    content: "";
    position: absolute;
    width: .2rem;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #e5101d
}

#menu-main .menu-list>li a img {
    width: 25px;
    height: 25px;
    margin-right: 10px
}

#menu-main .menu-list li .submenu {
    display: none;
    height: 100%;
    left: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 250px
}

#menu-main .menu-list li .submenu .group {
    background: #fff;
    padding: 5px;
    width: 100%
}

#menu-main .menu-list li .submenu .group .item a {
    border: 0;
    font-size: 13px;
    line-height: 15px;
    padding: 5px 10px;
    display: block
}

#menu-main .menu-list li:hover .submenu {
    display: block
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px
}

.spinner>div {
    background-color: #03a9f4;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s ease-in-out infinite;
    animation: sk-stretchdelay 1.2s ease-in-out infinite
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        -webkit-transform: scaleY(.4)
    }
    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    to {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

.product-one {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    padding: 20px 0 10px
}

.product-one .top {
    display: flex;
    justify-content: space-between
}

.product-one .top__tab {
    align-items: center;
    display: flex
}

.product-one .top__tab li {
    margin-right: 15px;
    white-space: nowrap
}

.product-one .top__tab li.active a,
.product-one .top__tab li:hover a {
    background: #ccc
}

.product-one .top__tab li a {
    border-radius: 3px;
    display: inline-block;
    font-size: 15px;
    line-height: 28px;
    padding: 0 15px
}

.product-one .bot {
    display: flex;
    z-index: 2
}

.product-one .bot .left {
    height: 330px;
    width: 348px;
    margin-right: 10px
}

.product-one .bot .left .image {
    overflow: hidden;
    position: relative
}

.product-one .bot .left .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.product-one .bot .right {
    padding: 10px;
    width: calc(100% - 358px);
    background: #fff;
    align-self: flex-start
}

@media(max-width:767px) {
    .product-one .top {
        align-items: center;
        margin-bottom: 10px
    }
    .product-one .bot,
    .product-one .top {
        flex-direction: column
    }
    .product-one .bot .left {
        margin-right: 0;
        width: 100%;
        height: 190px
    }
    .product-one .bot .left .image {
        height: 100%
    }
    .product-one .bot .right {
        width: 100%
    }
}
